
/* .imgChat{
    position: fixed;
    right: 20px;
    bottom:  30px;
    width: 70px;

}
.grande2{
    height: 5000px;
}
.grande{
    height: 1000px;
}
.imgwpp{
    position: fixed;
    left: 20px;
    bottom:  20px;
    width: 100px;
}

.paragrafo1{
    position: absolute;
    top: 0px;
    margin: 0px;
    text-align: center;
    /* background-color: aqua; */
    /* z-index: 1;
    color: aliceblue;
    
}
.item3{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    background-color: black;
    text-align: center;

}
a{
    color: lavenderblush;
    text-decoration: none;
    margin-right: 20px;

}

.item4{
    height: 100px;
    background-color: rgb(15, 75, 75);
    position: static;
    top: 20px;

}

.item5{
    height: 50px;
    background-color: blue;
    position: relative;
    left: 100px;

} */ 

