ul{
    list-style: none; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* img{
    display: block;
    margin: auto;
} */ 